*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
@font-face {
    font-family:myFirstFont;
    src: url("Roboto/Roboto-Black.ttf");
}
@font-face{
    font-family:mySecondFont;
    src:url("Merriweather/Merriweather-Light.ttf")
}
@font-face{
    font-family:myThirdFont;
    src:url("Oswald/static/Oswald-Light.ttf");
}
@font-face{
    font-family:myFourthFont;
    src:url("Source_Sans_Pro/SourceSansPro-Light.ttf");
}
body{
    width:100%; 
}
/* THE HEADER SECTION STYLING */
header{
    width:100%;
    background:blue;
    position:sticky;
    top:0;
    z-index:999;
}

/* THE NAVIGATION */
.main-container{
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:99%;
    margin:0 auto;
    padding:10px;
}
.main-item1{
    width:30%;
}
.logoimg{
    border-radius:50px;
}
.main-item1 img{
    width:10%;
}
nav{
    width:35%;
}
nav ul{
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:100%;
}
nav ul li{
    list-style:none;
}
nav ul li a{
    display:block;
    text-decoration:none;
    text-transform:capitalize;
    color:#fff;
    font-family:myFourthFont;
    font-size:0.9em;
    width:100%;
    transition:all 1s;
}
nav ul li a:hover{
    padding:10px;
    background:#fff;
    color:blue;
    border-radius:5px;
}
#arm{
    display:none;
}
#cancel{
    display:none;
}
/* END OF NAVIGATION */
/* END OF HEADER */

/* THE HEADING */
.services-head{
    background:url(images/servicesimg.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    width:100%;
    padding:200px 0;
    background-blend-mode:overlay;
    background-color:rgba(0,0,0,.1);
}
.services-head h3{
    text-transform:capitalize;
    font-family:myFirstFont;
    color:#fff;
    font-size:4em;
    text-align:center;
}
/* END OF HEADING */

/* SERVICES ITEM */
.service-item{
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:100%;
    margin:0 auto;
    flex-wrap:wrap;
    background:#fff;
}
.item-1{
    width:33%;
    margin:10px auto 0;
    padding:10px;
    border-bottom:1px solid #fff;
    transition:all 2s;
}
.item-1:hover{
    border:1px solid #fff;
}
.item-1 img{
    width:100%;
    transition:all 2s;
}
.item-1 img:hover{
    display:block;
}
.item-head{
    margin:10px auto;
    text-align:center;
    text-transform:capitalize;
    color:black; 
    font-family:mySecondFont;
    font-size:1em;
}
.item-text{
    margin:10px auto;
    color:black;
    font-family:myFourthFont;
    text-align:justify;
    line-height:1.5em;
    font-size:0.95em;
    transition:all 2s;
}
.item-text:hover{
    display:block;
}
.service-links{
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:100%;
    margin:20px auto;
}
.service-links a{
    display:block;
    text-decoration:none;
    text-transform:capitalize;
    color:#fff;
    background:black;
    padding:10px;
    width:30%;
    text-align:center;
    border-radius:10px;
    font-family:myFourthFont;
    font-size:0.9em;
    transition:all 2s;
}
.service-links a:hover{
    background:blue;
}
.name{
    display:none;
    animation-name:display;
    animation-duration:5s;
}
@keyframes display {
    from {opacity: .4}
    to {opacity: 1}
}
/* END OF SERVICES ITEM */

/* FOOTER */
footer{
    background:blue;
    margin:10px auto 0;
}
.main-footer{
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:95%;
    margin:0 auto;
}
.main-footer div,.footer-menu,.form{
    width:32%;
    margin:20px auto;
}
.main-footer div p{
    line-height:1.5em;
    color:#fff;
    margin:20px auto;
    font-size:0.8em;
    text-align:justify;
    font-family:mySecondFont;
}
.footer-menu ul{
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-direction:column;
}
.footer-menu ul li a{
    display:block;
    color:black;
    margin:1.5px auto;
    padding:10px;
    color:#fff;
    width:100%;
}
.form h5{
    text-align:center;
    color:#fff;
    font-family:mySecondFont;
    margin:10px auto 0;
    font-size:0.8em;
}
.form{
    text-align:center;
}
.form input{
    width:80%;
    padding:10px;
    margin:10px auto;
    border-radius:50px;
    border:none;
}
.form textarea{
    width:80%;
    margin:10px auto 0;
    border-radius:10px;
}
.form input[type="submit"]{
    width:30%;
    margin:0 auto 10px;
    cursor:pointer;
}
.footer-links{
    text-align:center;
    margin:10px auto 0;
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:15%;
}
.footer-links a{
    display:block;
    text-decoration:none;
    color:#fff;
    text-transform:capitalize;
    font-family:mySecondFont;
    font-size:1.5em;
}
.copyright{
    margin:20px auto 0;
    text-align:center;
    color:#fff;
    font-family:mySecondFont;
    font-size:0.6em;
}
/* END OF FOOTER */

/* MEDIA QUERY */
@media screen and (max-width:900px){
    body{
        position: relative;
        width:100%;
    }
    /* THE HEADER */
    /* THE NAVIGATION */
    .logoimg{
        width:80%;
    }
    #arm{
        display:block;
    }
    #cancel{
        width:5%;
        margin:20px 20px 20px;
    }
    #nav{
        display:none;
        height:60vh;
        background:#fff;
        position:absolute;
        top:0;
        bottom:0;
        right:0;
        width:100%;
        animation-name:see;
        animation-duration:1s;
    }
    @keyframes see {
        from {opacity: .4}
        to {opacity: 1}
    }

    #nav ul{
        flex-direction:column;
        width:100%;
    }
    #nav ul li a{
        padding:10px;
        text-align:center;
        color:blue;
        margin:5px auto 0;
    }
    #nav ul li a:hover{
        background:blue;
        color:#fff;
    }
    .main-item1{
        display:flex;
        align-items:center;
        justify-content:space-between;
        width:100%;
        padding:10px;
    }
    .chat{
        display:none;
    }
    /* END OF NAVIGATION */
    /* END OF HEADER */

    /* THE HEADING */
    .services-head{
        background-position:center;
        padding:100px 0;
        background-color:rgba(0,0,0,.3)
    }
    .services-head h3{
        font-size:2em;
    }
    /* END OF HEADING */

    /* SERVICES ITEM */
    .service-item{
        flex-direction:column;
    }
    .item-1{
        width:98%;
    }
    .service-links{
        margin:10px auto;
    }
    .service-links a{
        font-size:0.95em;
    }
    /* END OF SERVICES ITEM */

    /* FOOTER */
    .main-footer{
        flex-direction:column;
    }
    .main-footer div,.footer-menu,.form{
        width:98%;
        margin:10px auto;
    }
    .main-footer div p{
        line-height:1.7em;
    }
    .footer-menu ul{
        flex-direction:row;
        flex-wrap:wrap;
    }
    .footer-menu ul li{
        width:30%;
    }
    .form h5{
        margin:15px auto 0;
    }
    .form input{
        margin:20px auto 0;
    }
    .form input[type="submit"]{
        width:35%;
        margin:10px auto;
    }
    .footer-links{
        width:40%;
    }
    /* END OF FOOTER */
}
/* END OF MEDIA QUERY */
